.callout[data-callout="canvas_stickynote1"] .callout-title {
    display: none;
}

.callout[data-callout="canvas_stickynote1"] {
    background: rgb(0, 85, 85);
    border-radius: 0px;
    transform: rotate(-2deg);
    width: 300px;
    max-height: 350px;
    margin: auto;
    padding-right: 20px;
    box-shadow: 10px 10px 5px rgb(0 0 0 / 0.2);
}